@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
body {
  background-color: rgb(24,24,27);
  height: 100%;
  overflow-x: hidden;
}
#html{
  height: 100%;
}
